

 <div  id="main-content">
  <ion-header >
    <ion-toolbar  class="status_bar ion-text-center">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title_header">{{this.title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" id="tt1">  </ion-content>
</div>
  <ion-menu contentId="main-content" menuId="slidingMenu" id="slidingMenu">
    <ion-header>
      <ion-toolbar>
        <ion-title class="title_menu">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item >
          <ion-icon slot="start" name="person-circle-outline" ></ion-icon>
          <ion-label (click)="goToWelcome()">
          Acceuil
          </ion-label>
          </ion-item>
        <ion-item >
          <ion-icon slot="start" name="newspaper-outline"></ion-icon>
          <ion-label>
          Contact
          </ion-label>
          </ion-item>
          <ion-item *ngIf="this.userService.userinfos?.role=='RPLA'">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-label (click)="goToGestionMisson()">
            Gestion des mission
            </ion-label>
            </ion-item>
            <ion-item *ngIf="this.userService.userinfos?.role=='RPLA'" >
              <ion-icon slot="start" name="people-outline"></ion-icon>
              <ion-label (click)="goToGestionFournisseurs()">
              Gestion des fournisseurs
              </ion-label>
              </ion-item>
              <ion-item *ngIf="this.userService.userinfos?.role=='RPLA'" >
                <ion-icon slot="start" name="people-outline"></ion-icon>
                <ion-label>
                Gestion des chargé planification
                </ion-label>
                </ion-item>
        <ion-item *ngIf="this.userService.userinfos?.role=='admin'">
          <ion-icon slot="start" name="pencil-outline"></ion-icon>
          <ion-label (click)="goToCreateUser()">

          Creation compte
          </ion-label>
          </ion-item>
          <ion-item >
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-label (click)="logout()">
            Déconnexion
            </ion-label>
            </ion-item>
            
        </ion-list>
    </ion-content>
  </ion-menu>
 
